@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif, "Montserrat";
}

.Blog {
    height: 40vh;
    background-color:#196BDE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 40px;
}

.Blog-text h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif !important;
}

.Blog-btn button {
    padding: 15px 40px !important;
    background-color: #000000;
    font-size: 30px;
    border:2px solid #edf4fc;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    color: white;
    border-radius: 10px;
    transition: all 0.1s linear;
}

.Blog-btn:hover button {
    background-color: #edf4fc;
    cursor: pointer;
    color:#000000;
    transition: all 0.1s linear;
    border:2px solid #edf4fc;
}


@media ( width <= 1384px) {
      .Blog-text h2{
        font-size: 30px;
    }
    .Blog{
        height: 35vh;
    }
     .Blog-btn button{
        padding: 13px 25px !important;
        font-size: 22px;
       
    }
}



@media ( width <= 1196px) {
    .Blog-text h2{
        font-size: 25px;
    }
    .Blog{
        height: 35vh;
    }
     .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 20px;
       
    }
}


@media ( width <= 990px) {
    .Blog-text h2{
        font-size: 25px;
    }
    .Blog{
        height: 35vh;
    }
     .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 20px;
       
    }
  
}




@media ( width <= 556px) {
      .Blog-text h2{
        font-size: 20px;
    }
    .Blog{
        height: 35vh;
    }
     .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 20px;
       
    }
}

@media ( width <= 496px) {
     .Blog-text h2{
        font-size: 20px;
    }
    .Blog{
        height: 35vh;
    }
     .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 20px;
       
    }
}

@media ( width <= 460px) {
    .Blog-text h2{
        font-size: 20px;
    }
    .Blog{
        height: 35vh;
    }
     .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 20px;
       
    }
 
}

@media ( width <= 412px) {
    .Blog-text h2{
        font-size: 20px;
    }
    .Blog{
        height: 35vh;
    }
     .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 20px;
       
    }
}

@media ( width <= 348px) {
    .Blog-text h2{
        font-size: 20px;
        text-align:center;
         padding: 10px;
    }
    .Blog{
        height: 35vh;
    }
   .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 15px;
       
    }
}

@media ( width = 320px) {
    .Blog-text h2{
        font-size: 20px;
        text-align:center;
        padding: 10px;
    }
    .Blog{
        height: 35vh;
    }
    .Blog-btn button{
        padding: 8px 20px !important;
        font-size: 15px;
       
    }
}