@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family:  "Montserrat", sans-serif;
}

.Footer-main {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
    gap: 60px;
    padding: 5px 70px 100px 70px;
}

.Footerpt-1 {
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 50px 0 0 0;
    padding: 40px 50px 50px 60px;
    background-color: #D9D9D9;
    line-height: 40px;
    letter-spacing: 2%;
    width: 538px;
    height: 389px;

}

.Footerpt-1 .image-1 {
    height: 101px;
    width: 310px;
}

.Footerpt-1 p {
    font-size: 24px;
    font-family: "Montserrat", Sans-serif !important;
    line-height: 40px;
    margin-top: -20px;
    color: #292E4C;
    margin-bottom: 15px;
}

.Footerpt-1-images {
    display: flex;
    gap: 20px;
    width: 50px;
    height: 50px;

}

.Footerpt-2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 110px;
    font-family: "Montserrat" !important;

}

.Footerpt-2 h4 {
    font-size: 24px;
    font-family: "Montserrat" !important;
    font-weight: 700;
    color: #292E4C;
}

.Footerpt-2 a{
    font-family: "Montserrat" !important;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
    color: #292E4C;
}

.Footerpt-2 a:hover {
    color: #0EA498;
    cursor: pointer;
}

.Footerpt-2 .Company,
.Footerpt-2 .Quicklink,
.Footerpt-2 .Newsletter {
    display: flex;
    flex-direction: column;
    gap: 30px 30px;
    row-gap: 30px;
    column-gap: 30px;
    padding-top: 30px;
    line-height: 40px;
    padding-bottom: 100px;
    letter-spacing: 2%;
}

.Footerpt-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 40px;
    column-gap: 20px;
    margin-top: -10px;
}

.Footerpt-3 h4 {
    font-family: "Montserrat" !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #292E4C;
}

.Footerpt-3 p {
    font-size: 20px;
    color: #2d324d;
    letter-spacing: 2%;
}

.Footer-input-wrapper {
    display: flex;
    overflow: hidden;
    width: fit-content;
    box-shadow: none;
    background-color: #D9D9D9;
  border-radius: 10px;

}

.Footerpt-3 .abc {
    width: 426;
    border: none;
    height: 67;
    background-color: #D9D9D9;

    border-color: white;
    padding: 25px;
    padding-right: 95px;
    margin-right: 0px;
    border-right: none;
    flex-grow: 1;
}
.Footer-input-wrapper button {
    background-color: #0EA498;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    margin-left: 0px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.Footer-input-wrapper .abc:focus {
    outline: none;
}

.Footer-bottom{
        display: flex;
        align-items:center ;
        justify-content: center;
        width: 1920;
        height: 629;
        top: 2799px;
        background-color: #292E4C;
        color: white;
        padding: 20px 20px 20px 20px;
        font-size: 20px;
        font-weight: 400;
}

.Footer-bottom-text a{
    color: #0EA498; 
    text-decoration: none; 
  }