@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif, "Montserrat";
}

.FreeStore-main {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    background-color: #292E4C;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 40px;
}

.FreeStore-text h2 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif !important;
}

.FreeStore-btn button {
    padding: 35px 70px !important;
    background-color: #6C30ED;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    color: white;
    border-radius: 10px;
    transition: all 0.1s linear;
}

.FreeStore-btn:hover button {
    background-color: #0EA498;
    cursor: pointer;
}
@media ( width <= 810px) {
    .FreeStore-text h2 {
        font-size: 45px;
      
    }   
    .FreeStore-btn button {
        padding: 30px 60px !important;
    }
}

@media ( width <= 680px) {
    .FreeStore-text h2 {
        font-size: 40px;
      
    }   
}

@media ( width <= 616px) {
    .FreeStore-text h2 {
        font-size: 35px;
      
    }   
    .FreeStore-btn button {
        padding: 28px 55px !important;
    }
}

@media ( width <= 528px) {
    .FreeStore-text h2 {
        font-size: 30px;
      
    }   
    .FreeStore-btn button {
        padding: 26px 50px !important;
    }
}

@media ( width <= 474px) {
    .FreeStore-text h2 {
        font-size: 28px;
      
    }   
    .FreeStore-btn button {
        padding: 26px 50px !important;
      
           
            font-size: 25px;
            font-weight: 600;
        
        
    }
}

@media ( width <= 442px) {
    .FreeStore-text h2 {
        font-size: 25px;
      
    }   
    .FreeStore-btn button {
        padding: 26px 50px !important;
      
           
            font-size: 25px;
            font-weight: 600;
        
        
    }
}


@media ( width <= 400px) {
    .FreeStore-text h2 {
        font-size: 22px;
      
    }   
    .FreeStore-btn button {
        padding: 23px 45px !important;
      
           
            font-size: 25px;
            font-weight: 600;
        
        
    }
}


@media ( width <= 368px) {
    .FreeStore-text h2 {
        font-size: 20px;
      
    }   
    .FreeStore-btn button {
        padding: 23px 45px !important;
      
           
            font-size: 25px;
            font-weight: 600;
        
        
    }
}
@media ( width <= 342px) {
    .FreeStore-text h2 {
        font-size: 18px;
      
    }   
    .FreeStore-btn button {
        padding: 20px 40px !important;
      
           
            font-size: 20px;
            font-weight: 600;
        
        
    }
}

@media ( width = 320px) {
    .FreeStore-text h2 {
        font-size: 16px;
      
    }   
    .FreeStore-btn button {
        padding: 20px 40px !important;
      
           
            font-size: 20px;
            font-weight: 600;
        
        
    }
}