@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif, "Montserrat";
}

.FreeStore-main {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    background-color: #292E4C;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 40px;
}

.FreeStore-text h2 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif !important;
}

.FreeStore-btn button {
    padding: 35px 70px !important;
    background-color: #6C30ED;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    border-radius: 10px;
    transition: all 0.1s linear;
}

.FreeStore-btn:hover button {
    background-color: #0EA498;
    cursor: pointer;
}
