@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-brand-color: #6C30ED;
    --text-color: #000000;
    --brand-button-color: #214E87;
    --bg: #edf4fc;
}

*:has(>.casestudies-main) {
    overflow-x: hidden;
}


.casestudies-main {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0px;
    display: flex;
    row-gap: 50px;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
  background-color: #edf4fc;
    margin-bottom: 200px;
}

#CSH{
    background-color: #FFFFFF;
    display: block !important;
}
.Case-showcase-study-heading{
    text-align: center;
    margin-bottom: 75px;
}

 
  .Case-showcase-study-heading h2 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 65px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
  }
 
  .Case-showcase-study-heading span {
    position: relative;
    color: #000000;
  }
 
.casestudies-item {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 1920px;
    display: flex;
    gap: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 150px;
    margin-right: 150px;
}

.casestudies-item .casestudiesimg img {
    max-width: 768px;
    height: 769px;
}

.casestudies-content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.casestudies-content h3 {
    color: var(--main-brand-color);
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
    letter-spacing: -1.5%;
}

.casestudies-content h4 {
    color: var(--text-color);
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -1.5%;
    margin-bottom: 25px;
}

.button-all {
    margin-bottom: 25px;
    display: flex;
    gap: 50px;
}

.button-all button {
    border-radius: 38px;
    white-space: nowrap;
    border: 1px black solid;
    background-color: #FFFFFF;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    padding: 14px 20px 14px 20px;
    font-size: 20px;
}

.button-all button:nth-child(2) {
    border: none;
}

.casestudies-content .para-down {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.5%;
    font-size: 20px;
    color: #000000CC;
    margin-bottom: 35px;
}

.casestudies-content .btn-last button {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    border: 3px solid var(--brand-button-color);
    font-weight: 700;
    letter-spacing: 0.5px;
    border-width: 3px;
    border-radius: 7px !important;
    padding: 21px 45px 21px 45px;
    background-color: var(--brand-button-color);
    color: white;
    cursor: pointer;
    transition: 0.2s linear;

}

.lm-btn button {
    font-family: "Poppins", Sans-serif;
    font-size: 31px;
    font-weight: 600;
    padding: 25px 100px;
    border: 2px;
    border-radius: 10px;
    border: 3px solid;
    border-color: var(--brand-button-color);
    background-color: var(--brand-button-color);
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s linear;
}

.casestudies-content .btn-last button:hover{
    background-color: #FFFFFF;
    color: var(--brand-button-color);
    border-color: var(--brand-button-color);
    outline: var(--brand-button-color);
}

.lm-btn button:hover {
    background-color: #FFFFFF;
    color: var(--brand-button-color);
    border-color: var(--brand-button-color);
    outline: var(--brand-button-color);
}

/* MEDIA QUERIES */

@media (width <= 1752px) {
    .casestudies-main {
        row-gap: 35px;
    }

    .casestudies-item {
        gap: 4%;
        margin-left: 120px;
        margin-right: 120px;
    }

    .casestudies-item .casestudiesimg img {
        max-width: 700px;
        height: 700px;
    }

    .casestudies-content h3 {
        font-size: 50px;
        font-weight: 550;
        line-height: 50px;
        margin-bottom: 25px;
        margin-top: 20px;
    }
    
    .casestudies-content h4 {
        font-size: 50px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .casestudies-content {
        & > .para-down {
            font-weight: 350;
            line-height: 22px;
            font-size: 18px;
            margin-bottom: 28px;
        }
        & > .btn-last button {
            font-size: 18px;
            font-weight: 650;
            letter-spacing: 0.5px;
            padding: 18px 40px 18px 40px;
            background-color: var(--brand-button-color);
        }
    }

    .button-all {
        margin-bottom: 20px;
        gap: 40px;
    }

    .button-all button {
        line-height: 18px;
        padding: 12px 18px 12px 18px;
        font-size: 18px;
    }

    .lm-btn button {
        font-size: 28px;
        font-weight: 550;
        padding: 24px 90px;
        border: 2px solid;
    }
}

@media (width <= 1570px) {
    .casestudies-main {
        row-gap: 32px;
    }
    
    .casestudies-item {
        gap: 4%;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 650px;
        height: 650px;
    }

    .casestudies-content h3 {
        font-size: 45px;
        font-weight: 550;
        line-height: 45px;
        margin-bottom: 20px;
        margin-top: 18px;
    }

    .casestudies-content h4 {
        font-size: 45px;
        font-weight: 400;
        line-height: 45px;
        margin-bottom: 18px;
    }
    
    .casestudies-content {    
        & > .para-down {
            font-weight: 350;
            line-height: 20px;
            letter-spacing: -1%;
            font-size: 16px;
            margin-bottom: 25px;
        }
        & > .btn-last button {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.5px;
            padding: 16px 35px 16px 35px;
        }
    }
    
    .button-all {
        margin-bottom: 18px;
        gap: 35px;
    }
    
    .button-all button {
        line-height: 18px;
        padding: 10px 16px 10px 16px;
        font-size: 16px;
        white-space: nowrap;
    }
    
    .lm-btn button {
        font-size: 25px;
        font-weight: 500;
        padding: 23px 80px;
        border: 2px solid;
    }
}

@media (width <= 1430px) {
    .casestudies-main {
        row-gap: 30px;
    }
    
    .casestudies-item {
        gap: 3%;
        margin-left: 90px;
        margin-right: 90px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 600px;
        height: 600px;
    }

    .casestudies-content h3 {
        font-size: 40px;
        font-weight: 550;
        line-height: 40px;
        margin-bottom: 18px;
        margin-top: 15px;
        letter-spacing: -1%;
    }

    .casestudies-content h4 {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: -1%;
        margin-bottom: 15px;
    }
    
    .casestudies-content {    
        & > .para-down {
            font-weight: 350;
            line-height: 20px;
            letter-spacing: -1%;
            font-size: 15px;
            margin-bottom: 25px;
        }
        & > .btn-last button {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            padding: 16px 30px 16px 30px;
        }
    }
    
    .button-all {
        margin-bottom: 18px;
        gap: 25px;
    }
    
    .button-all button {
        line-height: 18px;
        padding: 10px 16px 10px 16px;
        font-size: 16px;
        white-space: nowrap;
    }
    
    .lm-btn button {
        font-size: 25px;
        font-weight: 500;
        padding: 23px 80px;
        border: 2px solid;
    }
}

@media (width <= 1300px) {
    .casestudies-main {
        row-gap: 27px;
    }
    
    .casestudies-item {
        gap: 2%;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 500px;
        height: 500px;
    }

    .casestudies-content h3 {
        font-size: 35px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 15px;
        margin-top: 13px;
        letter-spacing: -1%;
    }

    .casestudies-content h4 {
        font-size: 33px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: -1%;
        margin-bottom: 15px;
    }
    
    .casestudies-content {    
        & > .para-down {
            font-weight: 350;
            line-height: 20px;
            letter-spacing: -1%;
            font-size: 15px;
            text-align: center;
            margin-bottom: 20px;
        }
        & > .btn-last button {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.5px;
            padding: 12px 20px 12px 20px;
        }
    }
    
    .button-all {
        margin-bottom: 15px;
        gap: 18px;
    }
    
    .button-all button {
        line-height: 13px;
        padding: 10px 16px 10px 16px;
        font-size: 16px;
        white-space: nowrap;
    }
    
    .lm-btn button {
        font-size: 20px;
        font-weight: 500;
        padding: 23px 80px;
        border: 2px solid;
    }
}

@media (width <= 1140px) {
    .casestudies-main {
        row-gap: 27px;
        background-color: #FFFFFF;
        padding-top: 10px;
              

    }
    
    .casestudies-item {
        align-items: center;
        background-color: var(--bg);
        padding-top: 20px;
        padding-bottom: 20px;
        width: 700px;
        border-radius: 40px;
        /* border: 20px solid rgba(41, 46, 76, 0.15); */
        /* border: 10px solid #616db08e; */


    }
    
    .casestudies-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    .casestudies-item:nth-child(even) {
        gap: 2% 2%;
        flex-direction: column-reverse;
        column-gap: 2%;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .casestudies-item:nth-child(odd) {
        flex-direction: column;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 650px;
        height: 650px;
    }

    .casestudies-content h3 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        line-height: 40px;
        margin-bottom: 15px;
        margin-top: 13px;
        letter-spacing: -1%;
    }

    .casestudies-content h4 {
        font-size: 30px;
        max-width: 700px;
        text-align: center;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -1%;
        margin-bottom: 15px;
    }
    
    .casestudies-content {   
        align-items: center; 
        & > .para-down {
            font-weight: 350;
            line-height: 20px;
            letter-spacing: -1%;
            text-align: center;
            font-size: 15px;
            margin-bottom: 20px;
        }

        & > .btn-last button {
            font-weight: 300;
            font-size: 17px;
            letter-spacing: 0.5px;
            padding: 15px 22px 15px 22px;
            margin-bottom: 20px;
        }
    }
    
    .button-all {
        margin-bottom: 15px;
        gap: 18px;
    }
    
    .button-all button {
        white-space: nowrap;
        line-height: 13px;
        padding: 12px 16px 12px 16px;
        font-size: 16px;
    }
    
    .lm-btn button {
        font-size: 20px;
        font-weight: 400;
        padding: 20px 60px;
        border: 2px solid;
    }
}

@media (width <= 790px) {
    .casestudies-main {
        row-gap: 25px;
        background-color: none;
    }
    
    .casestudies-item {
        align-items: center;
        width: 650px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 600px;
        height: 600px;
    }

    .casestudies-content h3 {
        font-size: 35px;
        font-weight: 500;
        text-align: center;
        line-height: 30px;
        margin-bottom: 15px;
        margin-top: 10px;
        letter-spacing: -1%;
    }

    .casestudies-content h4 {
        font-size: 28px;
        text-align: center;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: -1%;
        margin-bottom: 10px;
    }
    
    .casestudies-content {   
        align-items: center; 
        & > .para-down {
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -1%;
            font-size: 14px;
            margin-bottom: 10px;
        }
        & > .btn-last button {
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 0.5px;
            padding: 13px 20px 13px 20px;
            margin-bottom: 10px;
        }
    }
    
    .button-all {
        margin-bottom: 15px;
        gap: 12px;
    }
    
    .button-all button {
        line-height: 13px;
        padding: 10px 12px 10px 12px;
        font-size: 14px;
    }
    
    .lm-btn button {
        font-size: 15px;
        font-weight: 300;
        padding: 15px 40px;
        border: 2px solid;
    }
}

@media (width <= 736px) {
    .casestudies-main {
        row-gap: 25px;
        background-color: none;
    }
    
    .casestudies-item {
        align-items: center;
        width: 550px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 500px;
        height: 500px;
    }

    .casestudies-content h3 {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        line-height: 25px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .casestudies-content h4 {
        font-size: 24px;
        text-align: center;
        font-weight: 300;
        line-height: 30px;
    }
    
    .casestudies-content {   
        align-items: center; 
        & > .para-down {
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -1%;
            font-size: 13px;
            margin-bottom: 10px;
        }
        & > .btn-last button {
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 0.5px;
            padding: 13px 20px 13px 20px;
            margin-bottom: 10px;
        }
    }
    
    .button-all {
        margin-bottom: 15px;
        gap: 12px;
    }
    
    .button-all button {
        line-height: 13px;
        padding: 10px 12px 10px 12px;
        font-size: 14px;
    }
    
    .lm-btn button {
        font-size: 15px;
        font-weight: 300;
        padding: 15px 40px;
        border: 2px solid;
    }
}

@media (width <= 640px) {
    .casestudies-main {
        row-gap: 25px;
    padding-top: 0px;

    }
    
    .casestudies-item {
        align-items: center;
        width: 470px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 430px;
        height: 430px;
    }

    .casestudies-content h3 {
        font-size: 25px;
        font-weight: 450;
        margin-bottom: 13px;
        margin-top: 10px;
    }

    .casestudies-content h4 {
        font-size: 22px;
        font-weight: 300;
    }
    
    .casestudies-content {   
        align-items: center; 
        & > .para-down {
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -1%;
            font-size: 13px;
            margin-bottom: 10px;
        }
        & > .btn-last button {
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 0.5px;
            padding: 12px 18px;
            margin-bottom: 10px;
        }
    }
    
    .button-all {
        margin-bottom: 14px;
        gap: 10px;
    }
    
    .button-all button {
        line-height: 13px;
        padding: 10px;
        font-size: 12px;
    }
    
    .lm-btn button {
        font-size: 15px;
        font-weight: 300;
        padding: 15px 40px;
        border: 2px solid;
    }
}

@media (width <= 550px) {
    .casestudies-main {
        row-gap: 25px;
    }
    
    
#showcase-study-heading h2{
    font-size: 50px;
    height: 50px;
}
    .casestudies-item {
        align-items: center;
        width: 400px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 380px;
        height: 380px;
    }

    .casestudies-content h3 {
        font-size: 22px;
        font-weight: 400;
    }

    .casestudies-content h4 {
        font-size: 20px;
        text-align: center;
        font-weight: 300;
    }
    
    .casestudies-content {   
        align-items: center; 
        & > .para-down {
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -1%;
            font-size: 11px;
            margin-bottom: 10px;
        }
        & > .btn-last button {
            font-weight: 300;
            font-size: 10px;
            letter-spacing: 0.5px;
            padding: 12px 15px;
            margin-bottom: 10px;
        }
    }
    
    .button-all {
        margin-bottom: 14px;
        gap: 9px;
    }
    
    .button-all button {
        line-height: 13px;
        padding: 9px;
        font-size: 11px;
    }
    
    .lm-btn button {
        font-size: 13px;
        font-weight: 300;
        padding: 13px 40px;
        border: 2px solid;
    }
}

@media (width <= 476px) {
    .casestudies-main {
        row-gap: 25px;
    margin-bottom: 50px;

    }
    
    .casestudies-item {
        align-items: center;
        width: 320px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 300px;
        height: 300px;
    }

    .casestudies-content h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .casestudies-content h4 {
        font-size: 18px;
        text-align: center;
        font-weight: 400}
    
    .casestudies-content {   
        align-items: center; 
        & > .para-down {
            font-weight: 300;
            line-height: 15px;
            letter-spacing: -3%;
            font-size: 10px;
            margin-bottom: 10px;
            max-width: 300px;
        }
        & > .btn-last button {
            font-weight: 300;
            font-size: 10px;
            letter-spacing: 0.5px;
            padding: 10px 12px;
            margin-bottom: 10px;
        }
    }
    
    .button-all {
        margin-bottom: 12px;
        gap: 7px;
        /* flex-wrap:wrap ; */
    }
    
    .button-all button {
        line-height: 10px;
        padding: 8px;
        font-size: 9px;
    }
    
    .lm-btn button {
        font-size: 13px;
        font-weight: 300;
        padding: 13px 40px;
        border: 2px solid;
    }
}

@media (width <= 370px) {
    .casestudies-main {
        row-gap: 25px;
    margin-bottom: 50px;
    }
    #showcase-study-heading h2{
        font-size: 40px;
        height: 10px;
    }
    #showcase-study-heading span::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 10px;
        bottom:12px;
        width: 100%;
        height: 8px;
        background-color: #7B45EF;
        z-index: -1;
      }
    .casestudies-item {
        align-items: center;
        width: 270px;
    }
    
    .casestudies-item .casestudiesimg img {
        max-width: 250px;
        height: 250px;
    }

    .casestudies-content h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .casestudies-content h4 {
        font-size: 16px;
        font-weight: 400}
    
    .casestudies-content {   
        align-items: center; 
        & > .para-down {
            font-weight: 300;
            line-height: 15px;
            letter-spacing: -3%;
            font-size: 10px;
            margin-bottom: 10px;
            max-width: 300px;
        }
        & > .btn-last button {
            font-weight: 300;
            font-size: 10px;
            letter-spacing: 0.5px;
            padding: 8px 12px;
            margin-bottom: 10px;
        }
    }
    
    .button-all {
        margin-bottom: 12px;
        gap: 5px;
        /* flex-wrap:wrap ; */
    }
    
    .button-all button {
        line-height: 10px;
        padding: 8px;
        font-size: 8px;
    }
    
    .lm-btn button {
        font-size: 13px;
        font-weight: 300;
        padding: 13px 40px;
        border: 2px solid;
    }
}