.space-container{
    height: 180.2px;
    width: 100%;
    background-color: white;
}
@media ( width <= 1316px ) {
    .space-container{
        height: 147.2px;
    }
}
@media ( width <= 1124px ) {
    .space-container{
        height: 142.2px;
    }
}
@media ( width <= 1024px ) {
    .space-container{
        height: 100.2px;
    }
   
}
@media ( width <= 850px ) {
    .space-container{
        height: 82.2px;
    }
}