.space-container{
    height: 209.2px;
    width: 100%;
    background-color: white;
}
@media ( width <= 1316px ) {
    .space-container{
        height: 187.2px;
    }
}
@media ( width <= 1124px ) {
    .space-container{
        height: 172.2px;
    }
}
@media ( width <= 1024px ) {
    .space-container{
        height: 142.2px;
    }
}
@media ( width <= 850px ) {
    .space-container{
        height: 82.2px;
    }
}