@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
*:has(> .Footer-main) {
  overflow-x: hidden;
}
.Footer-Parent {
  width: 100%;
}
.Footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 70px 100px 70px;
}

.Footerpt-1 {
  border-radius: 25px;
  padding: 40px 50px 50px 60px;
  background-color: #edf4fc;
  line-height: 40px;
  width: 538px;
  height: auto;
}

.Footerpt-1 .image-1 {
  height: 101px;
  width: 150px;
}

.Footerpt-1 p {
  font-size: 24px;
  font-family: "Montserrat", "Sans-serif";
  color: #000000;
  margin-bottom: 15px;
}

.Footerpt-1-images {
  width: auto;
  height: auto;
  display: flex;
  gap: 15px;
}
.Footer-1-icons {
  background-color: #196BDE;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  place-items: end;
  justify-content: center;
}
.Footer-1-icons svg {
  font-size: 28px;
  color: white;
}
.Footerpt-2 {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 110px;
  font-family: "Montserrat", "Sans-serif";
  padding-top: 30px;
  align-self: start;
}

.Footerpt-2 h4 {
  font-size: 24px;
  font-family: "Montserrat", "Sans-serif";
  font-weight: 700;
  color: #000000;
  white-space: nowrap;
}

.Footerpt-2 a {
  font-family: "Montserrat", "Sans-serif";
  text-decoration: none;
  transition: color 0.5s ease;
  color: #000000;
  font-weight: 400;
  line-height: 20px;
  font-size: 20px;
}

.Footerpt-2 a:hover {
  color: #0ea498;
  cursor: pointer;
}

.Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 40px;
  letter-spacing: 2%;
  font-family: "Montserrat", "Sans-serif";
}

.Footerpt-3 {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
  line-height: 40px;
  align-self: start;
}

.Footerpt-3 h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #000000;
}

.Footerpt-3 p {
  font-size: 20px;
  color: #000000;
  letter-spacing: 2%;
}

.Footer-input-wrapper {
  display: flex;
  overflow: hidden;
  width: fit-content;
  box-shadow: none;
  background-color: #edf4fc;
  border-radius: 10px;
  min-width: 426px;
}
.Footerpt-3 .input-field::placeholder {
  color: #000000;
}

.Footerpt-3 .input-field {
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #edf4fc;
  border-color: white;
  padding: 25px;
  margin-right: 0px;
  border-right: none;
  flex-grow: 1;
}

.Footerpt-3 .input-field:focus {
  outline: none;
}

.Footer-input-wrapper button {
  background-color: #196BDE;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-left: 0px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.Footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
}

.Footer-bottom-text a {
  color: #0ea498;
  text-decoration: none;
  transition: 0.5s ease;
}

.Footer-bottom-text a:hover {
  color: #6c30ed;
}

@media (width<=1602px) {
  .Footer-main {
    gap: 50px;
  }
  .Footerpt-1 {
    width: 5400px;
    height: auto;
  }
  .Footer-1 .image-1 {
    height: 95px;
    width: auto;
  }
  .Footerpt-1 p {
    font-size: 20px;
  }
  .Footerpt-1-images {
    gap: 14px;
   
  }

  .Footerpt-2 {
    gap: 70px;

    h4 {
      font-size: 22px;
      font-weight: 700;
    }

    a {
      font-size: 18px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 25px;
  }
  .Footerpt-3 {
    gap: 20px;

    h4 {
      font-size: 22px;
    }
    p {
      font-size: 18px;
    }
    .Footer-input-wrapper {
      min-width: 200px;

      button {
        padding: 10px 18px;
        font-size: 14px;
      }
    }
  }
}

@media (width<=1340px) {
  .Footer-main {
    gap: 50px;
    padding-bottom: 90px;
  }
  .Footerpt-1 {
    width: 400px;
    min-height: 300px;
    padding: 25px 35px 35px 45px;

    & .image-1 {
      height: 80px;
      width: auto;
    }
  }
  .Footerpt-1 p {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    padding-bottom: 5px;
  }
  .Footer-1-icons svg {
    font-size: 26px;
  }
  

  .Footerpt-2 {
    gap: 70px;

    h4 {
      font-size: 22px;
      font-weight: 700;
    }

    a {
      font-size: 18px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 25px;
  }
  .Footerpt-3 {
    gap: 20px;

    h4 {
      font-size: 22px;
    }
    p {
      font-size: 18px;
    }
    .Footer-input-wrapper {
      min-width: 200px;

      button {
        padding: 10px 18px;
        font-size: 14px;
      }
    }
  }
}

@media (width<=1240px) {
  .Footer-main {
    gap: 45px;
    padding-bottom: 80px;
  }
  .Footerpt-1 {
    width: 400px;
    min-height: 300px;
    padding: 25px 35px 35px 45px;

    & .image-1 {
      height: 60px;
      width: auto;
    }
  }
  .Footerpt-1 p {
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    padding-bottom: 5px;
  }
  .Footerpt-1-images {
    gap: 12px;
  }
  .Footer-1-icons svg {
    font-size: 26px;
  }


  .Footerpt-2 {
    gap: 40px;

    h4 {
      font-size: 20px;
      font-weight: 700;
    }

    a {
      font-size: 15px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 20px;
  }
  .Footerpt-3 {
    gap: 10px;

    h4 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
    .Footer-input-wrapper {
      /* min-width: 150px; */

      button {
        padding: 8px 15px;
        font-size: 13px;
      }
    }
  }
}
@media (width<=1090px) {
  .Footer-main {
    gap: 25px;
    padding-bottom: 70px;
  }
  .Footerpt-1 {
    min-width: 250px;
    min-height: 250px;
    padding: 25px 30px 30px 30px;

    & .image-1 {
      height: 55px;
      width: auto;
    }
  }
  .Footerpt-1 p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 2px;
  }
  .Footer-1-icons svg {
    font-size: 26px;
  }

  .Footerpt-2 {
    gap: 20px;

    h4 {
      font-size: 18px;
      font-weight: 700;
    }

    a {
      font-size: 13px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 15px;
  }
  .Footerpt-3 {
    gap: 6px;

    h4 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
    .Footer-input-wrapper {
      /* width: 300px; */

      .input-field {
        padding: 18px 20px;
        width: 150px;
      }

      button {
        padding: 8px 12px;
        font-size: 13px;
      }
    }
  }
}

@media (width<=990px) {
  .Footer-main {
    gap: 25px;
    padding-bottom: 50px;
  }
  .Footerpt-1 { 
    min-height: auto;
    padding: 25px 15px 30px 25px;

    & .image-1 {
      height: 50px;
      width: auto;
    }
  }
  .Footerpt-1 p {
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    padding-bottom: 2px;
  }
  .Footerpt-1-images {
    gap: 10px;
  }
    .Footer-1-icons svg {
    font-size: 22px;
  }
  .Footer-1-icons {
    width: 45px;
    height: 45px;
  }

  .Footerpt-2 {
    gap: 20px;

    h4 {
      font-size: 14px;
      font-weight: 700;
    }

    a {
      font-size: 10px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 8px;
  }
  .Footerpt-3 {
    gap: 10px;
    line-height: 0px;

    h4 {
      font-size: 14px;
    }
    p {
      font-size: 10px;
    }
    .Footer-input-wrapper {
      .input-field {
        padding: 13px 2px 13px 20px;
        width: 70px;
        font-size: 10px;
      }

      button {
        padding: 2px 4px;
        font-size: 8px;
      }
    }
  }
}

@media (width<=768px) {
  .Footer-main {
    gap: 25px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .Footerpt-1 {
    width: 500px;
    height: 470px;
    padding: 25px 5px 0px 25px;

    & .image-1 {
      height: 120px;
      width: auto;
    }
  }
  .Footerpt-1 p {
    font-size: 26px;
    line-height: 45px;
    text-align: left;
    padding-bottom: 5px;
  }
  .Footerpt-1-images {
    gap: 10px;
  }
    .Footer-1-icons svg {
    font-size: 26px;
  }
  .Footer-1-icons {
    width: 50px;
    height: 50px;
  }

  .Footerpt-2 {
    gap: 30px;
    align-self: center;
    flex-direction: column;

    h4 {
      font-size: 35px;
      font-weight: 700;
    }

    a {
      font-size: 24px;
      line-height: 40px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 8px;
    align-items: center;
    line-height: 60px;
  }
  .Footerpt-3 {
    gap: 20px;
    line-height: 40px;
    align-items: center;
    align-self: center;

    h4 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
    .Footer-input-wrapper {
      min-width: 400px;
      .input-field {
        padding: 25px 42px 25px 40px;
        min-width: 100px;
        font-size: 18px;
      }

      button {
        padding: 10px 14px;
        font-size: 15px;
      }
    }
  }
}

@media (width<=602px) {
  .Footer-bottom {
    font-size: 18px;
  }
}

@media (width<=560px) {
  .Footer-bottom {
    font-size: 15px;
  }
}

@media (width<=550px) {
  .Footer-main {
    gap: 20px;
    padding-bottom: 50px;
  }
  .Footerpt-1 {
    width: 400px;
    height: 420px;
    padding: 25px 5px 0px 25px;

    & .image-1 {
      height: 100px;
      width:auto;
    }
  }
  .Footerpt-1 p {
    font-size: 22px;
    line-height: 40px;
  }
  .Footerpt-1-images {
    gap: 10px;
  }
    .Footer-1-icons svg {
    font-size: 25px;
  }
  

  .Footerpt-2 {
    gap: 30px;
    h4 {
      font-size: 28px;
      font-weight: 700;
    }

    a {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 6px;
    align-items: center;
    line-height: 60px;
  }
  .Footerpt-3 {
    gap: 20px;
    line-height: 35px;
    align-items: center;
    align-self: center;

    h4 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
    .Footer-input-wrapper {
      min-width: 350px;
      .input-field {
        padding: 20px 42px 20px 40px;
        font-size: 18px;
      }
    }
  }
}

@media (width<=450px) {
  .Footer-main {
    padding-bottom: 40px;
  }
  .Footerpt-1 {
    width: 300px;
    height: 330px;
    padding: 25px 0px 0px 25px;

    & .image-1 {
      height: 70px;
      width: auto;
    }
  }
  .Footerpt-1 p {
    font-size: 16px;
    line-height: 30px;
  }
  .Footerpt-1-images {
    gap: 10px;
  }
    .Footer-1-icons svg {
    font-size: 24px;
  }
  .Footer-1-icons {
    width: 45px;
    height: 45px;
  }

  .Footerpt-2 {
    gap: 25px;
    h4 {
      font-size: 28px;
      font-weight: 700;
    }

    a {
      font-size: 18px;
      line-height: 35px;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 4px;
    align-items: center;
    line-height: 50px;
  }
  .Footerpt-3 {
    gap: 20px;
    line-height: 30px;

    h4 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
    .Footer-input-wrapper {
      min-width: 300px;
      .input-field {
        padding: 15px 12px 15px 20px;
        font-size: 16px;
      }
    }
  }
}

@media ( width <= 342px ) {
  .Footer-main {
    padding-bottom: 40px;
  }
  .Footerpt-1 {
    width: 280px;
    height: 310px;
    padding: 25px 0px 0px 25px;

    & .image-1 {
      height: 60px;
      width: auto;
    }
  }
  .Footerpt-1 p {
    font-size: 16px;
    line-height: 22px;
  }
  .Footerpt-1-images {
    gap: 10px;
  }
    .Footer-1-icons svg {
    font-size: 22px;
  }
  .Footer-1-icons {
    width: 45px;
    height: 45px;
  }

  .Footerpt-2 {
    gap: 25px;
    h4 {
      font-size: 26px;
      font-weight: 700;
    }

    a {
      font-size: 16px;
      line-height: 32px;
      white-space: nowrap;
    }
  }

  .Footerpt-2 :is(.Company, .Quicklink, .Newsletter) {
    gap: 4px;
    align-items: center;
    line-height: 50px;
  }
  .Footerpt-3 {
    gap: 20px;
    line-height: 0px;

    h4 {
      font-size: 26px;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
    .Footer-input-wrapper {
      min-width: 300px;
      .input-field {
        padding: 15px 12px 15px 20px;
        font-size: 16px;
      }
    }
  }
}
