@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.FAQ-main{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    margin-bottom: 100px; 
position: relative;
outline: 3px solid black;

}
.Blurred-ellipse {
    position: absolute;
    width: 450px;
    height: 650px;
    top: 49%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #8C41E8;
    opacity: 0.19;
    filter: blur(150px);
    z-index: -1;

}

.FAQ-main-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
    column-gap: 20px;
    position: relative;
    z-index: 1;
}

.FAQ-main-text h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0px;
    height: 41px;
    color: #292E4C;
    font-family: "Montserrat", sans-serif;
}

.FAQ-main-text h2>span{
    color: #6C30ED;
    font-family: "Montserrat", sans-serif;
}

.FAQ-main-text p{
    font-size: 18px;
    color: black;
    width: 700px;
    height: 52px;
    font-family: "Poppins", sans-serif;
}

/* ACCORDION CSS */
.Blurred-ellipse {
    position: absolute;
    width: 450px;
    height: 700px;
    top: 70%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #8C41E8;
    opacity: 0.19;
    filter: blur(150px);
    z-index: 0;
}


.FAQ-accordion {
    max-width: 1180px;
    margin: 2rem auto;
    position: relative;
    z-index: 1;
}

.FAQ-accordion-item {
    overflow: hidden;
    width: 1180px;
    border-bottom: 1px solid rgb(243, 236, 236);
}

.FAQ-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 40px 28px 40px;
    background-color: white;
    cursor: pointer;
}

.FAQ-accordion-header:hover .FAQ-accordion-icon {
    color: black;
}

.FAQ-accordion-item:first-child .FAQ-accordion-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.FAQ-accordion-header h3 {
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #292E4C;
    font-weight: 500;
    letter-spacing: 0.3px;
    transition: color 0.3s ease;
}

.FAQ-accordion-header.active {
    background-color: #292E4C;
}

.FAQ-accordion-header.active h3{
    color: white;
}

.FAQ-accordion-icon {
    width: 9px;
    height: 11px;
    font-weight: 600;
    color: #6C30ED;
    font-size: 18px;
    transition: color 0.3s ease;
}

.FAQ-accordion-header.active .FAQ-accordion-icon {
    color: white;
}

.FAQ-accordion-content {
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    border-top: 1px #e0e0e0;
    line-height: 1.6;
}

.FAQ-accordion-content.active {
    max-height: 500px;
    transition: max-height 0.9s ease-in-out;
}

.FAQ-accordion-content-inner {
    padding: 1rem 1.5rem;
}

.FAQ-accordion-content p {
    margin: 0;
    color: #292E4C;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
/* Responsiveness Start */
@media ( width <= 1200px ) {
    .FAQ-accordion-item{
        width: 1100px;
    }
.FAQ-main{
    margin-bottom: 50px;
}

.FAQ-main-text{
        h2{font-size: 50px;}
        p{font-size: 16px;}
}

.FAQ-accordion {
    h3{font-size: 19px;}
    p{font-size: 16px;}
}
}

@media ( width <= 1110px) {
    .FAQ-accordion-item{
        width: 900px;
    }
.FAQ-main{
    margin-bottom: 50px;
}

.FAQ-main-text{
        h2{font-size: 45px;}
}

.FAQ-accordion {
    h3{font-size: 18px;}
}
}

@media ( width <= 915px ) {
    .FAQ-accordion-item{
        width: 750px;
    }
.FAQ-main{
    margin-bottom: 0px;
    padding-top: 50px;

}

.FAQ-main-text{
        h2{font-size: 40px;}
}

.FAQ-accordion {
    h3{font-size: 16px;}
    p{font-size: 14px;}
}
}

@media ( width <= 765px ) {
    .FAQ-accordion-item{
        width: 620px;
    }
.FAQ-main{
    margin-bottom: 0px;
    padding-top: 20px;

}

.FAQ-main-text{
        h2{font-size: 35px;
        line-height: 50px;}

        p{
            line-height: 25px;
            font-size: 15px;
            text-align: center;
        }
}
}

@media ( width <= 655px ) {
    .FAQ-accordion-item{
        width: 520px;
    }
.FAQ-main{
    margin-bottom: 0px;
}

.FAQ-accordion-header{
    padding: 20px 30px 20px 20px;    
}
.FAQ-main-text{
        h2{font-size: 32px;
        line-height: 50px;}

        p{
            line-height: 25px;
            font-size: 14px;
            width: 490px;
            text-align: center;
        }
}

.FAQ-accordion {
    h3{font-size: 15px;}
}
}

@media ( width <= 600px ) {
    .FAQ-accordion-item{
        width: 420px;
    }
    .FAQ-main{
        padding-top: 0px;
    }
.FAQ-main-text{
    h2{font-size: 26px;
            height: 30px;}
        
            p{
                height: 28px;
                font-size: 13px;
                width: 430px;
            }
        }
        .FAQ-accordion {
            h3{font-size: 12px;}
    p{font-size: 10px;}

        }
        .Blurred-ellipse {
            display: none;
        }
}

@media ( width <= 487px ) {
    .FAQ-accordion-item{
        width: 320px;
    }
    .FAQ-accordion-header{
        padding: 10px 20px 15px 12px;    
    }
.FAQ-main-text{
    h2{font-size: 24px;
            height: 25px;
            text-align: center;
            line-height: 20px;
        }
        
            p{
                height: 26px;
                font-size: 12px;
                line-height: 16px;
                width: 400px;
            }
        }
        .FAQ-accordion {
            h3{font-size: 10px;}

            span{
                font-size: 15px;
                height: 20px;
                margin-left: 20px;
            }
        }
}

@media ( width <= 460px ) {
.FAQ-main-text{
    h2{font-size: 22px;
            height: 25px;}
        
            p{
                height: 26px;
                font-size: 12px;
                line-height: 16px;
                width: 320px;
            }
        }
        .FAQ-accordion {
            h3{font-size: 10px;}

            span{
                font-size: 15px;
                height: 20px;
                margin-left: 20px;
            }
        }
}